.hero p {
    z-index: 1;
    position: absolute;
    top: 350px;
    left: 150px;
    width: 400px;
    color: var(--clr-white);
    font-weight: 400;
    font-size: large;
}

.hero a {
    z-index: 1;
    position: absolute;
    top: 500px;
    left: 270px;
}

.home_course_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.home_course_header h1 {
    color: var(--clr-dark);
    font-weight: 800;
}

.home_course_container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    height: 450px;
}

.home_course_wrapper {
    width: 300px;
    height: 400px;
    background-color: var(--clr-light);
}

.home_course_wrapper img {
    height: 100%;
    width: 100%;
}

.home_course_text {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.view_courses_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.view_courses_container a {
    width: 300px;
    margin-bottom: 2rem;
}

.qualification_title {
    background-color: var(--clr-light-accent);
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.qualification_image {
    width: 100px;
    height: auto;
}

.qualification_image_container {
    position: relative;
    left: 90px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 1px solid rgba(49, 48, 48, .5);
    border-radius: 7px;
    background-color: var(--clr-white);
}

.qualification_container h1 {
    color: var(--clr-white);
    text-align: center;
    position: relative;
    top: 50px;
}

.qualification_container p {
    color: var(--clr-white);
    text-align: center;
    position: relative;
    top: 80px;
}

.qualification_title a {
    width: 300px;
    font-weight: 500;
    background-color: var(--clr-light-accent);
    border: 1px solid var(--clr-white);
    margin-bottom: 3rem
}

.qualification_title a:hover {
    background-color: var(--clr-dark-accent);
    color: var(--clr-white)
}