.login_header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3rem;
}

.login_header img {
    width: 300px;
    height: 100%;
}

.login_wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card {
    width: 500px;
    height: 550px;
    background-color: var(--clr-light);
    border-radius: 30px;
}

.login_title {
    width: 100%;
    height: 120px;
    padding-left: 3rem;
    text-align: start;
    display: flex;
    align-items: center;
}

.login_title h1 {
    font-weight: 200;
    font-size: 40px;
}

.text_field_container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.text_field_container input {
    height: 60px;
    width: 70%;
    border: 1px solid var(--clr-dark-accent);
    background-color: transparent;
    padding-left: 1.5rem;
    font-size: large;
    box-shadow: 1px 2px 5px var(--clr-mid);
    outline: none;
}

.text_field_container input:active,
.text_field_container input:focus,
.text_field_container_signup input:active,
.text_field_container_signup input:focus {
    border-color: var(--clr-dark-accent);
    border-width: 2px;
}

.forgot_password {
    height: 50px;
    display: flex;
    align-items: center;
}

.forgot_password a {
    text-decoration: none;
    color: var(--clr-dark-accent);
    font-weight: bold;
    padding-left: 5rem;
}

.signin_button {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_button button {
    width: 220px;
    font-size: large;
}

.create_account_link_container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    padding-bottom: 5px;
}

.no_account_link {
    text-decoration: none;
    color: var(--clr-mid);
}

.create_account_link {
    text-decoration: none;
}

.create_account_link:hover,
.forgot_password a:hover {
    text-decoration: underline;
}

.text_field_container_signup {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 250px;
    align-items: center;
    justify-content: space-between;
}

.text_field_container_signup input {
    height: 60px;
    width: 70%;
    border: 1px solid var(--clr-dark-accent);
    background-color: transparent;
    padding-left: 1.5rem;
    font-size: large;
    box-shadow: 1px 2px 5px var(--clr-mid);
    outline: none;
}

.error_message_container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_message_container p {
    color: red;
}